<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center text-primary">Livraria Online </h1>
    </div>

    <div class="card-deck my-3">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Descriçaõ do livro</p>
          <p class="card-text"><small class="text-muted">DATA de publicação</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Descriçaõ do livro</p>
          <p class="card-text"><small class="text-muted">DAta de publicação</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Descrição do livro</p>
          <p class="card-text"><small class="text-muted">DAta de publicação</small></p>
        </div>
      </div>
    </div>
    

    

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
